$am-theme-primary: #342e48;
@import 'activeadmin_addons/all';
@import 'activeadmin_addons/material';
@import 'imageviewer';

#site_title > a {color: white !important;}
.admin-indexImage {width: 80px; height: 80px;}
.admin-showImage {width: 150px; height: 150px;}
.status_tag.페이스북 { background: #3b5998; }
.status_tag.카카오 { background: #fbc02d; }
.status_tag.인증 {background: green;}
.status_tag.승인 {background: green;}
.status_tag.승인불가 {background: red;}
